.gray-mellow{
    color: #7B7B7B !important;
}

.app-color{
    color: #982EED !important;
}

.first-color {
    color: #939194 !important;
}

/* background */
.bg-app-color{
    background-color: #982EED !important;
}


.bg-compnent-color {
    background-color: #e7e7e7 !important;
}
